<% if current_user %>
	<% if current_user.role == "admin" || current_user.role == "doctor" %>
		<div class="container">
			<h2>Profile for <%= @user.name %></h2>
		<div>
	<% elsif current_user %>
		<div class="container">
			<h2>Profile for <%= current_user.name %></h2>
		<div>
	<% end %>
		<h3>Health Record:</h3>
	</div>

		  <table class="table table-hover">
		    <thead>
		      <tr>
		        <th class="text-center">Condition</th>
		        <th class="text-center">Diagnosis Number</th>
		        <th class="text-center">Diagnosis Description</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<% @attr_arr.each_with_index do |attribute, index| %>
		      <tr>
		        <td><%=@condition_name[index]%> (<%= attribute %>)</td>
		        <td><%= @data_arr[index]%></td>
		        <td><%= @desc_arr[index]%></td>
		      </tr>
		      	<% end %>
		    </tbody>
		  </table>
		</div>

		<div class="question-text"> What can I do to improve my condition?</div>
		<ul>
			<li>
				Disease type: <%= link_to 'Stroke',"/users/#{current_user.id}/files/#{@file_id}"%> 
			</li>
		</ul>

	<div>
	<%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>
	</div>    

<% else %>
	<h2>You don't have permission to view this page</h2>
<% end %>

