<% if user_signed_in? %>
	<h2>My Page for <%= current_user.name %></h2>


	<p>What would you like to do?</p>

	<% if current_user.role == 'admin' %>
	<div>
	<%= link_to 'Upload files', upload_path %>
	</div>
	
	<div>
	<%= link_to 'View users', '/users'%>
	</div>

	<% elsif current_user.role == "doctor" %>
	<div>
	<%= link_to 'Edit profile',"/users/#{current_user.id}/profile"%>
	</div>

	<div>	
	<%= link_to 'View list of patients',"/users"%>
	</div>

	<% else %>
	<%= link_to 'Check my Health Record',"/users/#{current_user.id}/files"%>
	<% end %>

	<div>
	<%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>
	</div>    

<% else %>
	<h2>Nobody logged in</h2>
<% end %>


