<h1>Upload your file</h1>

<%= flash[:notice] %>
<%= flash[:alert] %>

<% if @file && @file.errors.any? %>
	<ul>
		<% @file.errors.full_messages do |error_message| %>
			<li> <%= error_message %> </li>
		<% end %>
	</ul>
<% end %>

<%= form_for :process_file, url: "/api/files", multipart: true do |f| %>
	<div class="form-group field">
	  <%= f.file_field :csv_file, :class => 'upload_file_btn' %>
	  <!-- name="process_file[csv_file]" -->
	  <%= f.button "Submit", :class => 'file_button' %>
	</div>
<% end %>

	<div>
	<%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>
	</div> 