<h1>Medical Decision Page</h1>

<h2>Possible Actions</h2>
<h3>Action A:</h3>
<div class="check_listA">
	<% @content_label.each_with_index do |name, i| %>
		<% if i<=2 %>
		<input type="checkbox" data-patient-id="<%= params[:id]%>" class="searchType" data-searchtype="A" name="<%=name%>" data-index="<%=i%>" data-id="<%=i+16%>"> <%=name%>
		<% else %>
		<input type="checkbox" data-patient-id="<%= params[:id]%>" class="searchType" data-searchtype="A" name= "<%=name%>" data-index="<%=i%>" data-id="<%=i+35%>"> <%=name%>
		<% end %>
	<% end %>

</div>

<div class="js-doughnut-container" data-id="<%= params[:files_id] %>"></div>

<div class="js-doughnut-container2" data-id="<%= params[:files_id] %>"></div>

<h3>Action B:</h3>
<div class="check_listB">
	<% @content_label.each_with_index do |name, i| %>
		<% if i<=2 %>
			<input type="checkbox" data-patient-id="<%= params[:id]%>" class="searchType" data-searchtype="B" name="<%=name%>" data-index="<%=i%>" data-id="<%=i+16%>"> <%=name%>
		<% else %>
			<input type="checkbox" data-patient-id="<%= params[:id]%>" class="searchType" data-searchtype="B" name="<%=name%>" data-index="<%=i%>" data-id="<%=i+35%>"> <%=name%>
		<% end %>
	<% end %>

</div>

<div class="js-chart-container" data-patient-id="<%= params[:id]%>" data-id="<%= @file_id %>"></div>

<div class="js-med-chart-container" data-id="<%= params[:files_id] %>"></div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Side Effect: Pulmonary embolism </h4>
      </div>
      <div class="modal-body">
        <p>Result from </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div>
  <%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>
</div>

<script>
</script>