<head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
</head>


<body>
   <div class="top-content">
          
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Welcome to fynMedalytics!</h1>
                            <div class="description">
                              <p>
                                This is a responsive data-visualization tool for medical analytics.
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                          <div class="form-top">
                            <div class="form-top-left">
                              <h3>Login to begin!</h3>
                                <p>Enter your username and password to log in:</p>
                            </div>
                            <div class="form-top-right">
                              <i class="fa fa-key"></i>
                            </div>
                            </div>
                            <div class="form-bottom">
                              <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "new_user login-form"}) do |f| %>
                            <div class="form-group field">
                                    <%= f.label :email %><br />
                                    <%= f.email_field :email, autofocus: true, :class => "form-username form-control" %>
                              </div>
                              <div class="form-group field">
                                    <%= f.label :password %><br />
                                    <%= f.password_field :password, autocomplete: "off", :class => "form-password form-control" %>
                              </div>
                             <% if devise_mapping.rememberable? -%>
                              <div class="form-group field">
                                      <%= f.check_box :remember_me %>
                                      <%= f.label :remember_me %>
                              </div>
                            <% end -%>
                                <div class="actions">
                                  <%= f.submit "Log in", :class => "btn login-button" %>
                                </div>
                          <% end %>
                          <%= render "devise/shared/links" %>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                          <h3>...or login with:</h3>
                          <div class="social-login-buttons">
                            <a class="btn btn-link-1 btn-link-1-facebook" href="https://www.facebook.com/">
                              <i class="fa fa-facebook"></i> Facebook
                            </a>
                            <a class="btn btn-link-1 btn-link-1-twitter" href="https://twitter.com/?lang=en">
                              <i class="fa fa-twitter"></i> Twitter
                            </a>
                            <a class="btn btn-link-1 btn-link-1-google-plus" href="https://plus.google.com/">
                              <i class="fa fa-google-plus"></i> Google Plus
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.backstretch.min.js"></script>
    <script src="assets/js/scripts.js"></script>

</body>


